@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F0F13;
  color: #F8F8F2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1C1C24;
}
::-webkit-scrollbar-thumb {
  background: #6B21A8;
  border-radius: 4px;
}
